h1 {
    text-align: left;
    background-color: tan;
    color: black
}

section { 
    font-size: 30 px;
    color: blue
}

h2 {
    text-align: left;
    background-color: beige;
    color: black
    
}

h4 {
    text-align: center;
    background-color: beige;
    color: black
    
}
title {color:beige}

p { 
    font-size: 17 px;
    color: black;
    text-align: justify
}

img {
    width:100% !important;
    height:100% !important;

}

.active,.panel:hover{
    border-color:rgb(236, 228, 236);
    border-style: solid;
}

.visualization {
    width:50% !important;
    height:50% !important;
}

h3 {
    text-align: center;
    background-color: beige;
    color: black;
}



h5 {
    text-align: center;
    background-color: beige;
    color: black;

}







